.footer-rodape{
    background-color: black;
    justify-content: space-around;
    display: flex;
    padding: 110px;
}

.footer-rodape .social-medias{
   justify-content: space-around;
   display: block;
}

.footer-rodape .social-medias .tw{
    margin: 0px 50px;
 }

 .footer-rodape .footer-text{
    color: white;
 }